.one-song {
  margin-top: 0px;
}

.full-song-box {
  list-style-type: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0px;
}

.full-song-box:hover {
  background-color: #e5e5e5;
}

.song-normal-view {
  display: flex;
}

.all-song-content {
  display: flex;
  align-items: center;
}

.url-input {
  width: 500px;
  margin-left: 5px;
  border-radius: 5px;
}

.title-input {
  margin-bottom: 3px;
  width: 500px;
  margin-left: 7px;
  border-radius: 5px;
}

.full-song-box {
  height: 55px;
  display: flex;
  align-items: center;
}

.song-username {
  color: #999;
}

.song-username-title {
  margin: 0px 10px;
}

.input-fields-title-url {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.edit-form {
  display: flex;
  align-items: center;
}

.edit-button {
  width: 75px;
  height: 35px;
  border-radius: 7px;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  margin-left: 5px;
}

.delete-button {
  width: 75px;
  height: 35px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, rgb(248, 104, 104) 0%, rgb(247, 0, 0) 100%);
  margin-left: 5px;
}

.confirm-edit-button {
  width: 75px;
  height: 35px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, rgb(81, 241, 89) 0%, rgb(19, 187, 13) 100%);
}

.edit-song-errors-ul {
  margin-right: 10px;
  padding-left: 0px;
  background-color: rgba(255, 0, 0, 0.4);
}

.edit-song-errors-ul > li {
  background-color: rgba(255, 0, 0, 0.4);
  list-style-type: none;
  padding: 5px;
}

.edit-song-errors-ul > li:first-child {
  background-color: transparent;
  text-align: center;
}

.edit-song-errors-heading {
  text-align: center;
}

.toggle-comments {
  width: 80px;
  height: 35px;
  border-radius: 7px;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #17ff2b 0%, #afff65 100%);
  margin-left: 5px;
}

.comments-main-list-item {
  list-style-type: none;
}

.fa-heart {
  margin-left: 5px;
}

.liked {
  color: red;
}
