.intro-main-div {
  height: 100%;
  background-size: cover;
  background-image: url('intro-image.jpg');
  z-index: -1;
  display: flex;
  justify-content: center;
}

.intro-main-content {
  z-index: 1;
  color: white;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.intro-main-quote {
  margin-bottom: 5px;
}

.intro-secondary-quote {
  width: 50%;
  margin-top: 10px;
  text-align: center;
}

.intro-redirect-button {
  height: 50px;
  width: 175px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #4fa4af 0%, #4b8ca0 50%, #7ac7ff 100%);
}
