body {
  margin: 0px;
}

.navigation-bar {
  background-color: #333;
  margin: 0px;
  height: 50px;
  padding-left: 0px;
}

.navigation-bar > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  padding-left: 0px;
}

.home-logo {
  display: flex;
  align-items: center;
}

.auth-buttons {
  display: inline-block;
}

.home-logo > a {
  color: white;
  text-decoration: none;
}

.home-button {
  width: 60px;
  display: flex;
  justify-content: center;
}

.auth-buttons > a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  color: #CCCCCC;
}

.profile-button-div {
  display: flex;
  justify-content: flex-end;
}

.profile-button:hover {
  cursor: pointer;
}

.profile-dropdown {
  background-color: white;
  padding: 0px;
  border: 1px solid #333;
  border-radius: 2px;
  position: fixed;
  right: 245px;
}

.profile-dropdown > li {
  list-style-type: none;
  padding: 5px;
}

.profile-name:hover {
  cursor: default;
}

.profile-logout-button {
  text-decoration: none;
  border-top: 1px solid black;
}

.profile-logout-button > a {
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #CECECE
}

.profile-logout-button > a:hover {
  background-color: rgb(156, 156, 156);
  cursor: pointer;
}

.library-button {
  color: #CCCCCC;
  text-decoration: none;
  margin-right: 100px;
}

.upload-button {
  color: #CCCCCC;
  text-decoration: none;
  margin-right: 100px;
}

.profile-area {
  margin-right: 35px;
}

.soundscape-icon {
  width: 50px;
  height: 50px;
}

.demouser-button {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #be60e9 0%, #887bd6 100%);
  border-radius: 5px;
  height: 30px;
  padding: 5px;
}

.home-button > div {
  color: #CCCCCC;
}

.about-button > div {
  color: #CCCCCC;
}
